<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span7">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

<div class="span3  hero-unit">

<%= @user.name %>
<br />
<%= @user.email %>
<br />
<strong>URL</strong>  <%= link_to user_path(@user), @user %>
<br />
<hr>
<strong>Last Account Activity:</strong> 
<br />
<%= @user.updated_at %>
<br />

<%= pluralize((((Time.now) - (@user.updated_at)) / 3600).round(0), "hour") %> ago

</div>

</div>

